.wrapper
  padding 20px
  opacity 0
  transition opacity 1s ease
  &.app-loaded
    opacity 1
.row.horizontal
  display block
.sort
  height 70px
.right
  width 416px
  float right
  .sort-text
    font-size 1.5rem
.hide
  display none
  z-index 100
  position absolute 
  left 0 
  right 0
  margin 0 15px 5px
  padding 5px
  background-color #fff
  border 1px solid rgba(0,0,0,.125)
  border-top none
  p
    padding 5px
    border-top 1px solid #000
    span.active a
      color blue
    a
      color #000
      &:hover
        text-decoration none
  ul 
    text-align left
    padding 5px
    li
      display inline-block
      list-style none
      padding 5px
      margin 3px
      border 1px solid rgba(0,0,0,.125)
      a
        text-decoration none
        color #000
      &:hover, &.active
        cursor pointer
        background-color lightblue
        a
          color white
div.col-lg-3.col-md-4.col-sm-6.portfolio-item
  padding 15px
  position relative
  &:hover
    .hide
      display block
    .card
      border-bottom none
  .card
    border-radius 0
    .card-body
      padding-bottom 5px
  .item-content
    text-align center
.item-btn
  width 49%
