body
  position relative
  margin 0
  padding 0
  font-family sans-serif
.item
  float left
  width 150px
  margin 5px
  padding 5px
  border 1px solid #C9C7C7
  .desc
    margin 5px
    color #010141
    background-color #E1F7FD
    border 1px solid #04C3D4
    &:hover
      color #fff
      background-color #04C3D4
      cursor pointer
  .buy
    margin 5px
    color #002200
    background-color #89F886
    border 1px solid #02890C
    &:hover
      color #fff
      background-color #02890C
      cursor pointer
